<section class="page">
  <div class="categories">
    <div class="categories_content">
      <h2><a href="/products"><%= t('menu.shop') %></a></h2>
      <% @taxonomies = Spree::Taxonomy.includes(root: :children) %>
      <%= render :partial => 'spree/shared/left_taxo' %>
    </div>
  </div>
  <div class="centre_page">
    <div class="centre_page_content">
      <h2><%= Spree.t(:checkout) %></h2>
      <%= checkout_progress %>
      
      <div id="checkout">
        <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>

        <div class="row" >
          <div class="columns">
            <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
              <% if @order.state == 'address' || !@order.email? %>
                <p class="field" style='clear: both'>
                  <%= form.label :email %><br />
                  <%= form.text_field :email %>
                </p>
              <% end %>
              <%= form.hidden_field :state_lock_version %>
              <%= render @order.state, :form => form %>
            <% end %>
          </div>
          
        </div>
      </div>

      <script>
      Spree.current_order_id = "<%= @order.number %>"
      Spree.current_order_token = "<%= @order.guest_token %>"
      </script>

      <% if I18n.locale != :en %>
        <%= javascript_include_tag 'jquery.validate/localization/messages_' + I18n.locale.to_s.downcase.gsub('-', '') %>
      <% end %>


    </div>
  </div>
</section>