<% content_for :head do %>
  <title>Toupine et Cabesselle - <%= @product.meta_title %></title>
  <meta name="description" content="<%= @product.meta_description %>">
<% end %>

<section class="content_produit detail_produit">
  <div class="categories">
    <div class="categories_content">
      <h2><a href="/boutique"><%= t('menu.shop') %></a></h2>
      <%= render :partial => 'spree/shared/left_taxo' %>
    </div>
  </div>
  <div class="produit">
    <div class="produit_content">
      <div class="produit_avant_croisee">
        <div class="image_produit">
          <%= render :partial => 'image' %>
        </div>
        <div class="description_produit">
          <%= render :partial => 'properties' %>
          <%= render :partial => 'promotions' %>
          <h1><%= @product.name %></h1>
          <div class="texte_description_produit">
            <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
          </div>
          <div class="formulaire_panier" id="cart-form">
              <%= render :partial => 'cart_form' %>
          </div>
          <div id="social_share_btn">
            <h3><%= t('products.share_me') %>:</h3>
            <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.protocol %><%= request.host_with_port %><%= request.path.gsub("//","/") %>" class="social_share facebook"><i class="fa fa-facebook"></i>Facebook</a>
            <a href="https://twitter.com/share"
                  data-lang="fr"
                  data-url="<%= request.protocol %><%= request.host_with_port %><%= request.path.gsub("//","/") %>"
                  data-text="<%= @product.name %>"
                  class="social_share twitter">
                  <i class="fa fa-twitter"></i>Twitter
            </a>
            <a href='http://pinterest.com/pin/create/bookmarklet/?media=<%= request.protocol %><%= request.host_with_port %><%= @product.images.first.attachment.url %>&url=<%= request.protocol %><%= request.host_with_port %><%= @product.images.first.attachment.url %>&is_video=false&description=<%= @product.name %>' class="social_share pinterest"><i class="fa fa-pinterest-p"></i>Pint-it</a>
          </div>
        </div>
      </div>
      <div class="selection clear produit_selection">
      
        <h2><span><%= t('products.also_like') %></span></h2>
        
          <div class="selection_content">
            <% for product in get_similar_products (@product) %>
              <% url = spree.product_path(product, :taxon_id => @taxon.try(:id)) %>
                <div class="item">
                  <div class="item_overlay"></div>
                  <div class="item_content">
                    <% image = product_images(product) %>
                    <% if image && image.attachment %>
                      <%= link_to [spree, product] do %>
                        <%= image_tag image.attachment.url(:product) %>
                      <% end %>
                    <% end %>
                    <div class="infos">
                      <div class="infos_overlay">
                        
                        <%= form_for :order, :url => populate_orders_path do |f| %>
                            <%= hidden_field_tag "variant_id", product.master.id %>
                            <%= hidden_field_tag :quantity, 1 %>
                            <%= button_tag :class => 'boutton_ajouter', :id => 'add-to-cart-button', :type => :submit do %>
                              <%= Spree.t(:add_to_cart) %>
                            <% end %>
                        <% end %>
                        
                      </div>
                      <div class="infos_left">
                        <p><%= link_to product.name, url %></p>
                        <p class="poids"><%= product.weight.to_i %> g</p>
                      </div>
                      <div class="infos_right">
                        <%= display_price(product) %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

