<% content_for :head do %>
  <title>Toupine et Cabesselle - <%= t('titles.home') %></title>
  <meta name="description" content="">
<% end %>

<section class="logo_headline">
  <%= image_tag "logo.png" %>
</section>

<section class="hero">
  <div class="hero_content strech" data-stretch="<%= asset_path "hero.jpg" %>">
    <h1><%= t('home.hero_one') %></h1>
    <a href="/products"><%= t('home.hero_two') %></a>
  </div>
</section>

<section class="identity">
  <div class="identity_content">
    <div class="half strech" id="hero_two" data-stretch="<%= asset_path "cofee.jpg" %>">

    </div>
    <div class="half">
      <div class="line">
        <div class="half strech" data-stretch="<%= asset_path "u.png" %>"></div>
        <div class="half strech" data-stretch="<%= asset_path "croquant.jpg" %>"></div>
      </div>
      <div class="line">
        <div class="half strech glace" data-stretch="<%= asset_path "glace.jpg" %>"></div>
        <div class="half presentation" >
          <div class="presentation_content">
            <h2><%= t('home.presentation_title') %></h2>
            <p><%= t('home.presentation_text') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="selection home_selection">
  <h2><span><%= t('home.selection_title') %></span></h2>
  <div class="selection_precontent">
    <div class="selection_content">
      <%= render partial: 'spree/shared/products', locals: { products: @hp_taxon.products.limit(4), taxon: @hp_taxon } %>
    </div>
    <div class="link_to_selection_content">
      <a href="/t/selection" class="link_to_selection"><%= t('home.selection_link') %></a>
    </div>
  </div>
</section>

<section class="home_categories">
  <div class="home_categories_content">
    <div class="item">
      <div class="mid_item">
         <img src="<%= asset_path "cat11.jpg" %>"/>
        <h3><a href="/t/categories/<%= t('home.salted_products_permalink') %>"><%= t('home.salted_products') %></a></h3>
      </div>
      <div class="mid_item">
        <img src="<%= asset_path "cat12.jpg" %>"/>
        <h3><a href="/t/categories/<%= t('home.sweet_products_permalink') %>"><%= t('home.sweet_products') %></a></h3>
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path "cat1.jpg" %>"/>
      <h3><a href="/t/categories/<%= t('home.new_products_permalink') %>"><%= t('home.new_products') %></a></h3>
    </div>
    <div class="item">
      <img src="<%= asset_path "cat2.jpg" %>"/>
      <h3><a href="/t/categories/<%= t('home.sales_products_permalink') %>"><%= t('home.sales_products') %></a></h3>
    </div>
    <div class="item">
      <img src="<%= asset_path "cat3.jpg" %>"/>
      <h3><a href="/t/categories/<%= t('home.accessories_products') %>"><%= t('home.accessories_products') %></a></h3>
    </div>      
  </div>
</section>


<section class="reassurances">
  <div class="reassurances_content">
    <article>
            <div class="reassur_icon">
              <span class="reassur_phone"><i class="fa fa-credit-card"></i></span>
            </div>
            <div class="reassur_infos">
              <h3><%= t('footer.reassur.title_1') %></h3>
              <p>
                <%= t('footer.reassur.text_1') %>
              </p>
            </div>
          </article>
          <article>
            <div class="reassur_icon">
              <span><i class="fa fa-hand-paper-o"></i></span>
            </div>
            <div class="reassur_infos">
              <h3><%= t('footer.reassur.title_2') %></h3>
              <p>
                <%= t('footer.reassur.text_2') %>
              </p>
            </div>
          </article>
          <article>
            <div class="reassur_icon">
              <span><i class="fa fa-truck"></i></span>
            </div>
            <div class="reassur_infos">
              <h3><%= t('footer.reassur.title_3') %></h3>
              <p>
                <%= t('footer.reassur.text_3') %>
              </p>
            </div>
          </article>
  </div>
</section>


<section class="presentation_tc">
  <div class="presentation_tc_content">
    <div class="presentation_infos">
      <img src="<%= asset_path "logo_prez.png" %>"/>
      <%= t('home.presentation_big_text_html') %>
      <div class="discover_services"><a href="<%= t('pages.presentation') %>"><%= t('home.discover') %></a></div>
    </div>
    <div class="presentation_pics">
      <img src="<%= asset_path "pots.jpg" %>">
      <img src="<%= asset_path "chicken.jpg" %>">
    </div>
  </div>
</section>