<% content_for :head do %>
  <% if !@blog_entry.author.blank? and !@blog_entry.author.google_plus_url.blank? %>
    <link rel="author" href="<%= @blog_entry.author.google_plus_url %>"/>
  <% end %>
  <title><%= @blog_entry.title%></title>
  <meta name="description" content="<%= @blog_entry.entry_summary%>">
<% end %>

<section class="page">
  <div class="categories">
    <div class="categories_content">
      <h2><a href="/blog">Blog</a></h2>
      <%= render :partial => 'spree/blog_entries/blog_sidebar' %>
    </div>
  </div>
  <div class="centre_page">
    <div class="centre_page_content static_page_content">
      <h2><%= @blog_entry.title %></h2>
      <%== @blog_entry.body %>
      <%= render :partial => 'spree/blog_entries/blog_entry_details', :locals => {:blog_entry => @blog_entry} %>
      <%= render :partial => 'spree/blog_entries/comments', :locals => {:blog_entry => @blog_entry}  %>
    </div>
  </div>
</section>
